/*============================================================================================*/
/* Your custom styles below */
/* Butona css ekledim. */
/*============================================================================================*/


.box_order .main .remove-item-btn:before{
    font-family: "ElegantIcons";
    content: "\4f";
    font-size: 16px;
    font-size: 1rem;
    left: -20px;
    top: 3px;
    line-height: 1;
    position: absolute;
}

.box_order .main .remove-item-btn{
    border: none;
    text-align: center;
    background: none;
    border-radius: 20px;
    position: relative;
    bottom: auto;
}


.box_order .main .remove-item-btn:hover {
    color: red;
}

.asteriskField {
    display: none;
}


@keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .messages li {
    animation: slideInRight 0.5s forwards, fadeOut 0.5s 2.5s forwards;
    position: fixed; /* Sabit pozisyon */
    right: 20px; /* Sağ taraftan 20px uzaklık */
    top: 20px; /* Üstten 20px uzaklık */
    z-index: 1000; /* Diğer elementlerin üzerinde görünmesini sağlar */
  }
  