/*============================================================================================*/
/* Your custom styles below */
/* Butona css ekledim. */
/*============================================================================================*/


.box_order .main .remove-item-btn:before {
  font-family: "ElegantIcons";
  font-size: 16px;
  left: -20px;
  top: 3px;
  line-height: 1;
  position: absolute;
  color: red; /* Make the icon red */
}



.box_order .main .remove-item-btn:hover {
  color: red; /* Maintain red color on hover */
}

.asteriskField {
    display: none;
}

.image-container {
  text-align: center; /* Resmi ve metni sayfanın ortasına hizala */
}

.province-container {
  position: relative;
  display: inline-block;
  width: 20%;
  margin: 5px;
}

.province-container img {
  width: 100%; /* Resmin genişliğini konteyner genişliğine eşit yap */
  height: auto;
}

.province-name {
  position: absolute;
  top: 50%; /* Metni resmin ortasına yerleştir */
  left: 50%;
  transform: translate(-50%, -50%); /* Metni doğru konumlandır */
  background-color: rgba(0, 0, 0, 0.5); /* Yarı saydam siyah arka plan */
  color: white;
  font-size: 1.2em; /* Metin boyutunu büyüt */
  padding: 5px;
  display: inline; /* Sadece metin alanını kaplayacak şekilde arka planı ayarla */
}


@keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .messages li {
    animation: slideInRight 0.5s forwards, fadeOut 0.5s 2.5s forwards;
    position: fixed; /* Sabit pozisyon */
    right: 20px; /* Sağ taraftan 20px uzaklık */
    top: 20px; /* Üstten 20px uzaklık */
    z-index: 1000; /* Diğer elementlerin üzerinde görünmesini sağlar */
  }
  