/*============================================================================================*/
/* Your custom styles below */
/* Butona css ekledim. */
/*============================================================================================*/


.box_order .main .remove-item-btn:before{
    font-family: "ElegantIcons";
    content: "\4f";
    font-size: 16px;
    font-size: 1rem;
    left: -20px;
    top: 3px;
    line-height: 1;
    position: absolute;
}

.box_order .main .remove-item-btn{
    border: none;
    text-align: center;
    background: none;
    border-radius: 20px;
    position: relative;
    bottom: auto;
}


.box_order .main .remove-item-btn:hover {
    color: red;
}


#addressForm {
    display: none;
}

.image-container {
    text-align: center; /* Resmi ve metni sayfanın ortasına hizala */
}

.province-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.province-container img {
    max-width: 100%; /* Resmin taşmaması için */
    height: auto;
}

.province-name {
    position: absolute;
    top: 50%; /* Resmin ortasına yerleştir */
    left: 50%;
    transform: translate(-50%, -50%); /* Tam ortalanmasını sağla */
    background-color: rgba(0, 0, 0, 0.5); /* Yarı saydam siyah arka plan */
    color: white;
    padding: 5px 10px;
    text-align: center;
}
