{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <!-- SPECIFIC CSS -->
    <link href="{% static 'css/order-sign_up.css' %}" rel="stylesheet">

{% endblock extra_css %}

{% block content %}
    <div class="container margin_60_40">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="box_order_form">
                    <div class="head text-center">
                        <h3>{{ latest_order.menu.restaurant.name }}</h3>
                    </div>
                    <!-- /head -->
                    <div class="main">
                        <div id="confirm">
                            <div class="icon icon--order-success svg add_bottom_15">
                                <!-- SVG icon here -->
                            </div>
                            <h3>Sipariş Tamamlandı!</h3>
                            <p>{{ latest_order.menu.restaurant.name }} siparişiniz için teşekkür eder.</p>
                            <div class="order-summary">
                                <ul>
                                    <li><strong>Sipariş Özeti:</strong>
                                        {% for item in latest_order.orderitems.all %}
                                            <br>{{ item.menu.name }} (Adet: {{ item.quantity }})
                                        {% endfor %}
                                    </li>
                                    <li><strong>Toplam Tutar:</strong> ₺{{ latest_order.total_price }}</li>
                                    <li><strong>Teslimat Adresi:</strong> {{ latest_order.shipping_address.street }}, {{ latest_order.shipping_address.city }}, {{ latest_order.shipping_address.postal_code }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /box_order_form -->
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
{% endblock %}