{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <!-- SPECIFIC CSS -->
    <link href="{% static 'css/order-sign_up.css' %}" rel="stylesheet">

{% endblock extra_css %}

{% block content %}
    <div class="container margin_60_40">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="box_order_form">
                    <div class="head text-center">
                        <h3>{{ latest_order.menu.restaurant.name }}</h3>
                    </div>
                    <!-- /head -->
                    <div class="main">
                        <div id="confirm">
                            <div class="icon icon--order-success svg add_bottom_15">
                                <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72">
                                    <g fill="none" stroke="#8EC343" stroke-width="2">
                                        <circle cx="36" cy="36" r="35" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                                        <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
                                    </g>
                                </svg>
                            </div>
                            <h3>Sipariş Tamamlandı!</h3>
                            <p>{{ latest_order.menu.restaurant.name }} siparişiniz için teşekkür eder.</p>
                            <ul>
                                <p>Sipariş özeti: 
                                    {% for item in latest_order.orderitems.all %}
                                        {{ item.menu.name }} (Adet: {{ item.quantity }}),
                                    {% endfor %}
								</p>
                                <p>Toplam tutar: ₺{{ latest_order.total_price }}</p>
                                <p>Teslimat adresi: {{ latest_order.shipping_address.street }}, {{ latest_order.shipping_address.city }}, {{ latest_order.shipping_address.postal_code }}</p>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /box_order_form -->
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
{% endblock %}