<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for product in products %}

        <p>{{product.name}}</p>
        <p>{{product.description}}</p>
        <p>{{product.price}}TL</p>
        <button>Sepete ekle</button>

    {% endfor %}
    
</body>
</html>
		            <!-- /col -->
		            <div class="col-lg-4" id="sidebar_fixed">
		                <div class="box_order mobile_fixed">
		                    <div class="head">
		                        <h3>Order Summary</h3>
		                        <a href="#0" class="close_panel_mobile"><i class="icon_close"></i></a>
		                    </div>
		                    <!-- /head -->
		                    <div class="main">
		                        <ul class="clearfix">
		                            <li><a href="#0">1x Enchiladas</a><span>₺11</span></li>
		                            <li><a href="#0">2x Burrito</a><span>₺14</span></li>
		                            <li><a href="#0">1x Chicken</a><span>₺18</span></li>
		                            <li><a href="#0">2x Corona Beer</a><span>₺9</span></li>
		                            <li><a href="#0">2x Cheese Cake</a><span>₺11</span></li>
		                        </ul>
		                        <ul class="clearfix">
		                            <li>Subtotal<span>₺56</span></li>
		                            <li>Delivery fee<span>₺10</span></li>
		                            <li class="total">Total<span>₺66</span></li>
		                        </ul>
		                        <div class="row opt_order">
		                            <div class="col-6">
		                                <label class="container_radio">Delivery
		                                    <input type="radio" value="option1" name="opt_order" checked>
		                                    <span class="checkmark"></span>
		                                </label>
		                            </div>
		                            <div class="col-6">
		                                <label class="container_radio">Take away
		                                    <input type="radio" value="option1" name="opt_order">
		                                    <span class="checkmark"></span>
		                                </label>
		                            </div>
		                        </div>
		                        <div class="dropdown day">
		                            <a href="#" data-bs-toggle="dropdown">Day <span id="selected_day"></span></a>
		                            <div class="dropdown-menu">
		                                <div class="dropdown-menu-content">
		                                    <h4>Which day delivered?</h4>
		                                    <div class="radio_select chose_day">
		                                        <ul>
		                                            <li>
		                                                <input type="radio" id="day_1" name="day" value="Today">
		                                                <label for="day_1">Today<em>-40%</em></label>
		                                            </li>
		                                            <li>
		                                                <input type="radio" id="day_2" name="day" value="Tomorrow">
		                                                <label for="day_2">Tomorrow<em>-40%</em></label>
		                                            </li>
		                                        </ul>
		                                    </div>
		                                    <!-- /people_select -->
		                                </div>
		                            </div>
		                        </div>
		                        <!-- /dropdown -->