{% extends "base.html" %}
{% load static %}

{% block extra_css %}    <!-- SPECIFIC CSS -->
    <link href="{% static 'css/order-sign_up.css' %}" rel="stylesheet">
    <link href="{% static 'css/detail-page.css' %}" rel="stylesheet">
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock extra_css %}


{% block content %}

<body>

	<main class="bg_gray">
		
		<div class="container margin_60_20">
		    <div class="row justify-content-center">
		        <div class="col-xl-6 col-lg-8">
		        	<div class="box_order_form">
					    <div class="head">
					        <div class="title">
					            <h3>Kişisel Bilgiler</h3>
					        </div>
					    </div>
					    <!-- /head -->
					    <div class="main">
					        <div class="form-group">
					            <label>İsim ve Soyad</label>
					            <input class="form-control" placeholder="İsminiz ve Soyadınız">
					        </div>
					        <div class="row">
					            <div class="col-md-6">
					                <div class="form-group">
					                    <label>Email Adresiniz</label>
					                    <input class="form-control" placeholder="Email Adresiniz">
					                </div>
					            </div>
					            <div class="col-md-6">
					                <div class="form-group">
					                    <label>Telefon</label>
					                    <input class="form-control" placeholder="Telefon Numaranız">
					                </div>
					            </div>
					        </div>
					        <div class="form-group">
					            <label>Adres</label>
					            <input class="form-control" placeholder="Adres">
					        </div>
					        <div class="row">
					            <div class="col-md-6">
					                <div class="form-group">
					                    <label>Şehir</label>
					                    <input class="form-control" placeholder="Şehir">
					                </div>
					            </div>
					            <div class="col-md-3">
					                <div class="form-group">
					                    <label>Posta Kodu</label>
					                    <input class="form-control" placeholder="012345">
					                </div>
					            </div>
					        </div>
					    </div>
					</div>
					<!-- /box_order_form -->
		            <div class="box_order_form">
					    <div class="head">
					        <div class="title">
					            <h3>Ödeme Yöntemi</h3>
					        </div>
					    </div>
					    <!-- /head -->
					    <div class="main">
					        <div class="payment_select">
					            <label class="container_radio">Nakit Ödeme
					                <input type="radio" value="" name="payment_method">
					                <span class="checkmark"></span>
					            </label>
					            <i class="icon_wallet"></i>
					        </div>
					    </div>
					</div>
					<!-- /box_order_form -->
		        </div>
		        <!-- /col -->
		        <div class="col-xl-4 col-lg-4" id="sidebar_fixed">
		            <div class="box_order">
		                <div class="head">
		                    <h3>Sipariş Özeti</h3>
		                    <div>Pizzeria da Alfredo</div>
		                </div>
		                <!-- /head -->
		                <div class="main" id="cart-items">
		                	<!-- <ul>
		                		<li>Gün<span>Buraya Seçilen Tarih Gelecek</span></li>
		                		<li>Saat<span>Buraya Seçilen Saat Gelecek</span></li>
		                		<li>Şekli<span>Teslimat</span></li>
		                	</ul>
		                	<hr> -->
		                	<ul class="clearfix">
								{% for item in cart_items %}
									{% csrf_token %}
									<li>
										<button class="remove-item-btn" data-id="{{ item.id }}">  {{ item.quantity }}x {{ item.product.name }}</button>
										<span>₺{{ item.product.price }}</span>
									</li>
								{% endfor %}
		                	</ul>
		                	
							<ul class="clearfix">
								<li class="total" id="total-price">Toplam<span>₺{{ total_price }}</span></li>
							</ul>
		                    <a href="#" onclick="this.closest('form').submit();" class="btn_1 gradient full-width mb_5">Sipariş Oluştur</a>
		                    <div class="text-center"><small>Veya Bize Telefon Ulaş <strong>0216 4843254</strong></small></div>
		                </div>
		            </div>
		            <!-- /box_booking -->
		        </div>

		    </div>
		    <!-- /row -->
		</div>
		<!-- /container -->
		
	</main>
	<!-- /main -->

{% endblock %}

    <!-- SPECIFIC SCRIPTS -->
    <script src="{% static 'js/sticky_sidebar.min.js' %}"></script>
    <script>
    	$('#sidebar_fixed').theiaStickySidebar({
		    minWidth: 991,
		    updateSidebarHeight: false,
		    additionalMarginTop: 30
		});
    </script>


</body>
</html>