{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="FooYes - Quality delivery or takeaway food">
    <meta name="author" content="Ansonika">
    <title>TencereKapak - Yemekte kalite</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'img/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144-precomposed.png' %}">
    

    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="{% static 'css/detail-page.css' %}" rel="stylesheet">
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">
<body>
	
	{% include 'header.html' %}


	<main>

		{% if messages %}
		<div class="container mt-3"> <!-- Container to align the messages properly -->
		  {% for message in messages %}
			<!-- Display each message in a Bootstrap alert component -->
			<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
			  {{ message }}
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		  {% endfor %}
		</div>
	  {% endif %}
		

		<div class="hero_in detail_page background-image" data-background="url('{{ restaurant.restaurant_image.url }}')">
			<div class="wrapper opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">				
				<div class="container">
					<div class="main_info">
						<div class="row">
							<div class="col-xl-4 col-lg-5 col-md-6">
								<div class="head"><div class="score">
									<span> {{restaurant.category}} Mutfağı
										<!-- <em>350 Yorum</em> -->
									</span>
									<strong>{{restaurant.score}}</strong></div></div>
								<h1>{{restaurant.name}}</h1>
								{{restaurant.address}} - <a href="https://www.google.com/maps/dir//Assistance+%E2%80%93+H%C3%B4pitaux+De+Paris,+3+Avenue+Victoria,+75004+Paris,+Francia/@48.8606548,2.3348734,14z/data=!4m15!1m6!3m5!1s0x47e66e1de36f4147:0xb6615b4092e0351f!2sAssistance+Publique+-+H%C3%B4pitaux+de+Paris+(AP-HP)+-+Si%C3%A8ge!8m2!3d48.8568376!4d2.3504305!4m7!1m0!1m5!1m1!1s0x47e67031f8c20147:0xa6a9af76b1e2d899!2m2!1d2.3504327!2d48.8568361" target="blank">Get directions</a>
							</div>
							<div class="col-xl-8 col-lg-7 col-md-6 position-relative">
								<div class="buttons clearfix">
									<span class="magnific-gallery">
										<!-- <a href="{% static 'img/detail_1.jpg' %}" class="btn_hero" title="Photo title" data-effect="mfp-zoom-in"><i class="icon_image"></i></a> -->
										<a href="{% static 'img/detail_2.jpg' %}" title="Photo title" data-effect="mfp-zoom-in"></a>
										<a href="{% static 'img/detail_3.jpg' %}" title="Photo title" data-effect="mfp-zoom-in"></a>
									</span>
								</div>
							</div>
						</div>
						<!-- /row -->
					</div>
					<!-- /main_info -->
				</div>
			</div>
		</div>
		<!--/hero_in-->


        <nav class="secondary_nav sticky_horizontal">
            <div class="container">
                <ul id="secondary_nav">
					{% for category in menu_categories %}
                    <li><a href="#{{ category.menu_slug }}">{{category.name}}</a></li>
					{% endfor %}
                    <li></li>
                </ul>
            </div>
            <span></span>
        </nav>
		<!-- /secondary_nav -->

		<div class="bg_gray">
		    <div class="container margin_detail">
		        <div class="row">
		            <div class="col-lg-8 list_menu">
						{% for category in menu_categories %}
						<section id="{{ category.menu_slug }}">
							<h4>{{ category.name }}</h4>
							<div class="row">
								{% for food_item in food_items %}
									{% if food_item.category == category %}
									<div class="col-md-6">
										<a class="menu_item modal_dialog" data-productid="{{ food_item.id }}" href="#modal-dialog">
											<figure><img src="{{ food_item.product_image.url }}" data-src="{{ food_item.product_image.url }}" alt="thumb" class="lazy"></figure>
											<h3>{{ food_item.name }}</h3>
											<p>{{ food_item.description }}</p>
											<strong>₺{{ food_item.price }}</strong>
										</a>
									</div>
									{% endif %}
								{% endfor %}
							</div>
						</section>
					{% endfor %}


		            </div>
		            <!-- /col -->
		            <div class="col-lg-4" id="sidebar_fixed">
		                <div class="box_order mobile_fixed">
		                    <div class="head">
		                        <h3>Sipariş Özeti</h3>
		                        <a href="#0" class="close_panel_mobile"><i class="icon_close"></i></a>
		                    </div>
		                    <!-- /head -->
		                    <div class="main" id="cart-items">
		                        <ul class="clearfix">
									{% for item in cart_items %}
										{% csrf_token %}
										<li>
											<button class="remove-item-btn" data-id="{{ item.id }}">  {{ item.quantity }}x {{ item.menu.name }}</button>
											<span>₺{{ item.menu.price }}</span>
										</li>
									{% endfor %}
		                        </ul>
		                        <ul class="clearfix">
		                            <li class="total" id="total-price">Toplam<span>₺{{ total_price }}</span></li>
		                        </ul>
								
								<form method="post">
									{% csrf_token %}
									<!-- Sipariş bilgileri ve diğer gerekli alanlar burada olabilir -->
									<button type="submit" class="btn_1 gradient full-width mb_5">Sipariş Oluştur</button>
									<div class="text-center"><small>Bu adımda para alınmaz</small></div>
								</form>
								  
								
		                    
		                        <!-- <div class="btn_1_mobile">
		                            <a href="/order" class="btn_1 gradient full-width mb_5">Sipariş Oluştur</a>
		                            <div class="text-center"><small>Bu adımlarda para alınmaz</small></div>
		                        </div> -->
		                    </div>
		                </div>
		                <!-- /box_order -->
		                <div class="btn_reserve_fixed"><a href="#0" class="btn_1 gradient full-width">Sepeti Görüntüle</a></div>
		            </div>
		        </div>
		        <!-- /row -->
		    </div>
		    <!-- /container -->
		</div>
		<!-- /bg_gray -->



	</main>
	<!-- /main -->

	<footer>
		<div class="wave footer"></div>
		<div class="container margin_60_40 fix_mobile">

			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3 data-bs-target="#collapse_1">Hızlı Link</h3>
					<div class="collapse dont-collapse-sm links" id="collapse_1">
						<ul>
							<li><a href="about.html">Hakkımızda</a></li>
							<!-- <li><a href="help.html">Help</a></li> -->
							<li><a href="contacts.html">İletişim</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<!-- <h3 data-bs-target="#collapse_2">Categories</h3> -->
					<div class="collapse dont-collapse-sm links" id="collapse_2">
						<!-- <ul>
							<li><a href="grid-listing-filterscol.html">Top Categories</a></li>
							<li><a href="grid-listing-filterscol-full-masonry.html">Best Rated</a></li>
							<li><a href="grid-listing-filterscol-full-width.html">Best Price</a></li>
							<li><a href="grid-listing-filterscol-full-masonry.html">Latest Submissions</a></li>
						</ul> -->
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
						<h3 data-bs-target="#collapse_3">İletişim</h3>
					<div class="collapse dont-collapse-sm contacts" id="collapse_3">
						<ul>
							<li><i class="icon_house_alt"></i>97845 Çoban Sk. 567<br>Istanbul - TR</li>
							<li><i class="icon_mobile"></i>+90 216-23-221</li>
							<li><i class="icon_mail_alt"></i><a href="#0">info@domain.com</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
						<h3 data-bs-target="#collapse_4">İletişimde Kal</h3>
					<div class="collapse dont-collapse-sm" id="collapse_4">
						<div id="newsletter">
							<div id="message-newsletter"></div>
							<form method="post" action="assets/newsletter.php" name="newsletter_form" id="newsletter_form">
								<div class="form-group">
									<input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="Your email">
									<button type="submit" id="submit-newsletter"><i class="arrow_carrot-right"></i></button>
								</div>
							</form>
						</div>
						<div class="follow_us">
							<h5>Bizi Takip Et</h5>
							<ul>
								<li><a href="#0"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{% static 'img/twitter_icon.svg' %}" alt="" class="lazy"></a></li>
								<li><a href="#0"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{% static 'img/facebook_icon.svg' %}" alt="" class="lazy"></a></li>
								<li><a href="#0"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{% static 'img/instagram_icon.svg' %}" alt="" class="lazy"></a></li>
								<li><a href="#0"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{% static 'img/youtube_icon.svg' %}" alt="" class="lazy"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /row-->
			<hr>
			<div class="row add_bottom_25">
				<div class="col-lg-6">
					<ul class="footer-selector clearfix">
						<!-- <li>
							<div class="styled-select lang-selector">
								<select>
									<option value="English" selected>English</option>
									<option value="French">French</option>
									<option value="Spanish">Spanish</option>
									<option value="Russian">Russian</option>
								</select>
							</div>
						</li> -->
						<!-- <li>
							<div class="styled-select currency-selector">
								<select>
									<option value="US Dollars" selected>US Dollars</option>
									<option value="Euro">Euro</option>
								</select>
							</div>
						</li>  -->
						<li><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{% static 'img/cards_all.svg' %}" alt="" width="230" height="35" class="lazy"></li>
					</ul>
				</div>
				<div class="col-lg-6">
					<ul class="additional_links">
						<li><a href="/termsconditions">Şartlar ve Koşullar</a></li>
						<li><a href="/privacy">Gizlilik</a></li>
						<li><span>© TencereKapak</span></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->

	<div id="toTop" class="detail_page"></div><!-- Back to top button -->

	
<!-- Sign In Modal -->
<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
    <div class="modal_header">
        <h3>Sign In</h3>
    </div>
    <form>
        <div class="sign-in-wrapper">
            <a href="#0" class="social_bt facebook">Login with Facebook</a>
            <a href="#0" class="social_bt google">Login with Google</a>
            <div class="divider"><span>Or</span></div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" id="email">
                <i class="icon_mail_alt"></i>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" id="password" value="">
                <i class="icon_lock_alt"></i>
            </div>
            <div class="clearfix add_bottom_15">
                <div class="checkboxes float-start">
                    <label class="container_check">Remember me
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="float-end"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
            </div>
            <div class="text-center">
                <input type="submit" value="Log In" class="btn_1 full-width mb_5">
                Don’t have an account? <a href="register.html">Sign up</a>
            </div>
            <div id="forgot_pw">
                <div class="form-group">
                    <label>Please confirm login email below</label>
                    <input type="email" class="form-control" name="email_forgot" id="email_forgot">
                    <i class="icon_mail_alt"></i>
                </div>
                <p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
                <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
            </div>
        </div>
    </form>
    <!--form -->
</div>
<!-- /Sign In Modal -->

<!-- Modal item order -->
<div id="modal-dialog" class="zoom-anim-dialog mfp-hide">
    <div class="small-dialog-header">
        <h3></h3>
    </div>
    <div class="content">
        <h5>Quantity</h5>
        <div class="numbers-row">
            <input type="text" value="1" id="qty_1" class="qty2 form-control" name="quantity" min="1">
            <!-- Remove the hidden productid input, as we set it dynamically with JavaScript -->
        </div>

        <form action="" method="POST">
            {% csrf_token %}
            <!-- You don't need the data-productid attribute here -->
            <div class="footer">
                <div class="row small-gutters">
                    <!-- <div class="col-md-4">
                        <button type="button" class="btn_1 outline full-width mb-mobile" data-bs-dismiss="modal">İptal Et</button>
                    </div> -->
                    <div class="col-md">
                        <button type="submit" class="btn_1 full-width" id="add-to-cart-btn">Sepete Ekle</button>
                    </div>
                </div>
                <!-- /Row -->
            </div>
        </form>
    </div>
</div>

    <!-- /Modal item order -->
	
	<!-- COMMON SCRIPTS -->
    <script src="{% static 'js/common_scripts.min.js' %}"></script>
    <script src="{% static 'js/common_func.js' %}"></script>
    <script src="{% static 'js/validate.js' %}"></script>

    <!-- SPECIFIC SCRIPTS -->
    <script src="{% static 'js/sticky_sidebar.min.js' %}"></script>
    <script src="{% static 'js/sticky-kit.min.js' %}"></script>
    <script src="{% static 'js/specific_detail.js' %}"></script>

</body>
</html>