{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="FooYes - Quality delivery or takeaway food">
    <meta name="author" content="Ansonika">
    <title>TencereKapak - Yemekte kalite</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'img/TencereKapak.svg' %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'img/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144-precomposed.png' %}">
    

    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">


    <!-- SPECIFIC CSS -->
    <link href="{% static 'css/home.css' %}" rel="stylesheet">

</head>

<body data-spy="scroll" data-bs-target="#secondary_nav" data-offset="75" data-spy="scroll" data-bs-target="#secondary_nav" data-offset="75">
                
    <header class="header clearfix element_to_stick">
        <div class="container">
            <div id="logo">
                <a href="/">
                    <img src="{% static 'img/TencereKapak.svg' %}" width="162" height="35" alt="" class="logo_normal">
                    <img src="{% static 'img/TencereKapak.svg' %}" width="162" height="35" alt="" class="logo_sticky">
                </a>
            </div>
            <div class="layer"></div><!-- Opacity Mask Menu Mobile -->
            <ul id="top_menu">
                <!-- <li><a href="#sign-in-dialog" id="sign-in" class="login">Sign In</a></li> -->
                <li><a href="/detail-restaurant" class="cart_bt" title="Sepetim">Sepetim</a></li>
            </ul>
            <!-- /top_menu -->
            <a href="#0" class="open_close">
                <i class="icon_menu"></i><span>Menü</span>
            </a>
            <nav class="main-menu">
                <div id="header_menu">
                    <a href="/detail-restaurant" class="open_close">
                        <i class="icon_close"></i><span>Menü</span>
                    </a>
                    <a href="/"><img src="{% static 'img/logo.svg' %}" width="162" height="35" alt=""></a>
                </div>
                <ul>
                   <li class="submenu">
                        <a href="/" class="show-submenu">Anasayfa</a>
                    </li>
                    <li class="submenu">
                        <a href="/restaurant-list" class="show-submenu">Restoranlar</a>
                    </li>
                    <li class="submenu">
                        <a href="/about" class="show-submenu">Hakkımızda</a> 
                    </li>
                    {% if user.is_authenticated %}
                    <li class="submenu"><a href="/profile" class="show-submenu">Hesabım</a></li>
                    <li class="submenu"><a href="/logout" class="show-submenu">Çıkış Yap</a></li>
                    {% else %}
                    <li class="submenu"><a href="/login" class="show-submenu">Giriş Yap</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <!-- /header -->

    <main>
        <div class="hero_single version_2">
            <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
                <div class="container">
                    <div class="row justify-content-lg-start justify-content-md-center">
                        <div class="col-xl-7 col-lg-8">
                            <h1>Sipariş veya Gel-Al</h1>
                            <p>En iyi restoran, En iyi fiyat</p>
                            <!-- <form method="post" action="grid-listing-filterscol.html">
                                <div class="row g-0 custom-search-input">
                                    <div class="col-lg-10">
                                        <div class="form-group">
                                            <input class="form-control no_border_r" type="text" id="autocomplete" placeholder="Address, neighborhood...">
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <button class="btn_1 gradient" type="submit">Search</button>
                                    </div>
                                </div>
                                </row
                                <div class="search_trends">
                                    <h5>Trending:</h5>
                                    <ul>
                                        <li><a href="#0">Sushi</a></li>
                                        <li><a href="#0">Burgher</a></li>
                                        <li><a href="#0">Chinese</a></li>
                                        <li><a href="#0">Pizza</a></li>
                                    </ul>
                                </div>
                            </form> -->
                        </div>
                    </div>
                    <!-- /row -->
                </div>
            </div>
            <div class="wave hero"></div>
        </div>
        <!-- /hero_single -->

        <div class="container margin_30_60">
            <div class="main_title center">
                <span><em></em></span>
                <h2>Popüler Yemekler</h2>
                <p>Her bir tabakta, geleneksel lezzetlerin modern dokunuşlarla buluşmasına tanık olacaksınız.</p>
            </div>
            <!-- /main_title -->
            <div class="owl-carousel owl-theme categories_carousel">
                {% for product in products %}
                    <div class="item_version_2">
                        <a href="/detail-restaurant">
                            <figure>
                                <span>{{ product.id }}</span>
                                <img src="{{product.product_image.url}}" data-src="{{product.product_image.url}}" alt="" class="owl-lazy" width="350" height="450">
                                <div class="info">
                                    <h3>{{ product.name }}</h3>
                                    <small>₺{{ product.price }}</small>
                                </div>
                            </figure>
                        </a>
                    </div>
                {% endfor %}
            </div>
            
            <!-- /carousel -->
        </div>
        <!-- /container -->

        <!-- <div class="bg_gray">
            <div class="container margin_60">
                <div class="main_title">
                    <span><em></em></span>
                    <h2>Top Rated Restaurants</h2>
                    <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
                    <a href="#0">View All</a>
                </div>
                <div class="owl-carousel owl-theme carousel_4">
                    <div class="item">
                        <div class="strip">
                            <figure>
                                <span class="ribbon off">-30%</span>
                                <img src="{% static 'img/lazy-placeholder.jpg' %}" data-src="{% static 'img/location_1.jpg' %}" class="owl-lazy" alt="" width="460" height="310">
                                <a href="detail-restaurant.html" class="strip_info">
                                    <small>Pizza</small>
                                    <div class="item_title">
                                        <h3>Da Alfredo</h3>
                                        <small>27 Old Gloucester St</small>
                                    </div>
                                </a>
                            </figure>
                            <ul>
                                <li><span class="take yes">Take away</span> <span class="deliv yes">Delivery</span></li>
                                <li>
                                    <div class="score"><strong>8.9</strong></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="strip">
                            <figure>
                                <span class="ribbon off">-40%</span>
                                <img src="{% static 'img/lazy-placeholder.jpg' %}" data-src="{% static 'img/location_2.jpg' %}" class="owl-lazy" alt="" width="460" height="310">
                                <a href="detail-restaurant.html" class="strip_info">
                                    <small>Burghers</small>
                                    <div class="item_title">
                                        <h3>Best Burghers</h3>
                                        <small>27 Old Gloucester St</small>
                                    </div>
                                </a>
                            </figure>
                            <ul>
                                <li><span class="take yes">Take away</span> <span class="deliv yes">Delivery</span></li>
                                <li>
                                    <div class="score"><strong>7.5</strong></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="strip">
                            <figure>
                                <span class="ribbon off">-30%</span>
                                <img src="{% static 'img/lazy-placeholder.jpg' %}" data-src="{% static 'img/location_3.jpg' %}" class="owl-lazy" alt="" width="460" height="310">
                                <a href="detail-restaurant.html" class="strip_info">
                                    <small>Vegetarian</small>
                                    <div class="item_title">
                                        <h3>Vego Life</h3>
                                        <small>27 Old Gloucester St</small>
                                    </div>
                                </a>
                            </figure>
                            <ul>
                                <li><span class="take no">Take away</span> <span class="deliv yes">Delivery</span></li>
                                <li>
                                    <div class="score yes"><strong>8.9</strong></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="strip">
                            <figure>
                                <span class="ribbon off">-25%</span>
                                <img src="{% static 'img/lazy-placeholder.jpg' %}" data-src="{% static 'img/location_4.jpg' %}" class="owl-lazy" alt="" width="460" height="310">
                                <a href="detail-restaurant.html" class="strip_info">
                                    <small>Japanese</small>
                                    <div class="item_title">
                                        <h3>Sushi Temple</h3>
                                        <small>27 Old Gloucester St</small>
                                    </div>
                                </a>
                            </figure>
                            <ul>
                                <li><span class="take yes">Take away</span> <span class="deliv no">Delivery</span></li>
                                <li>
                                    <div class="score yes"><strong>8.9</strong></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="strip">
                            <figure>
                                <span class="ribbon off">-30%</span>
                                <img src="{% static 'img/lazy-placeholder.jpg' %}" data-src="{% static 'img/location_5.jpg' %}" class="owl-lazy" alt="" width="460" height="310">
                                <a href="detail-restaurant.html" class="strip_info">
                                    <small>Pizza</small>
                                    <div class="item_title">
                                        <h3>Auto Pizza</h3>
                                        <small>27 Old Gloucester St</small>
                                    </div>
                                </a>
                            </figure>
                            <ul>
                                <li><span class="take no">Take away</span> <span class="deliv yes">Delivery</span></li>
                                <li>
                                    <div class="score yes"><strong>8.9</strong></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="strip">
                            <figure>
                                <span class="ribbon off">-15%</span>
                                <img src="{% static 'img/lazy-placeholder.jpg' %}" data-src="{% static 'img/location_6.jpg' %}" class="owl-lazy" alt="" width="460" height="310">
                                <a href="detail-restaurant.html" class="strip_info">
                                    <small>Burghers</small>
                                    <div class="item_title">
                                        <h3>Alliance</h3>
                                        <small>27 Old Gloucester St</small>
                                    </div>
                                </a>
                            </figure>
                            <ul>
                                <li><span class="take yes">Take away</span> <span class="deliv yes">Delivery</span></li>
                                <li>
                                    <div class="score yes"><strong>8.9</strong></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="strip">
                            <figure>
                                <span class="ribbon off">-30%</span>
                                <img src="{% static 'img/lazy-placeholder.jpg' %}" data-src="{% static 'img/location_7.jpg' %}" class="owl-lazy" alt="" width="460" height="310">
                                <a href="detail-restaurant.html" class="strip_info">
                                    <small>Chinese</small>
                                    <div class="item_title">
                                        <h3>Alliance</h3>
                                        <small>27 Old Gloucester St</small>
                                    </div>
                                </a>
                            </figure>
                            <ul>
                                <li><span class="take no">Take away</span> <span class="deliv yes">Delivery</span></li>
                                <li>
                                    <div class="score yes"><strong>8.9</strong></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- /bg_gray -->

        <div class="shape_element_2">
            <div class="container margin_60_0">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="box_how">
                                    <figure><img src="{% static 'img/lazy-placeholder-100-100-white.png' %}" data-src="{% static 'img/how_1.svg' %}" alt="" width="150" height="167" class="lazy"></figure>
                                    <h3>Kolay Sipariş</h3>
                                    <p>Kolayca sipariş verebilirsiniz.</p>
                                </div>
                                <div class="box_how">
                                    <figure><img src="{% static 'img/lazy-placeholder-100-100-white.png' %}" data-src="{% static 'img/how_2.svg' %}" alt="" width="130" height="145" class="lazy"></figure>
                                    <h3>Hızlı Teslim</h3>
                                    <p>Hızlı bir şekilde siparişleriniz teslim edilir</p>
                                </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                                <div class="box_how">
                                    <figure><img src="{% static 'img/lazy-placeholder-100-100-white.png' %}" data-src="{% static 'img/how_3.svg' %}" alt="" width="150" height="132" class="lazy"></figure>
                                    <h3>Yemeğin Tadını Çıkar</h3>
                                    <p>Tatlı yemekler burada.</p>
                                </div>
                            </div>
                        </div>
                        <p class="text-center mt-3 d-block d-lg-none"><a href="/detail-restaurant" class="btn_1 medium gradient pulse_bt mt-2">Şimdi Sipariş Ver!</a></p>
                    </div>
                    <div class="col-lg-5 offset-lg-1 align-self-center">
                        <div class="intro_txt">
                            <div class="main_title">
                                <span><em></em></span>
                                <h2>Şimdi Sipariş Ver</h2>
                            </div>
                            <p class="lead">Bu restoran, damak zevkinizi yeniden keşfetmenize aracılık ediyor. Sipariş verdiğiniz her tabakta, geleneksel lezzetlerin modern dokunuşlarla buluşmasına tanık olacaksınız. 
                                Ambiyansıyla huzur, menüsüyle şölen; burası sadece bir sipariş platformu değil, bir deneyim. Lezzet yolculuğuna hazırsanız, sizi bekleyen enfes tatlarla tanıştıralım.</p>
                            <p><a href="/detail-restaurant" class="btn_1 medium gradient pulse_bt mt-2">Şimdi Sipariş Ver!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /shape_element_2 -->

    </main>
    <!-- /main -->

    {% include 'footer.html' %}

</body>
</html>

