{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
    <!-- SPECIFIC CSS -->
    <link href="{% static 'css/order-sign_up.css' %}" rel="stylesheet">
    <link href="{% static 'css/detail-page.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}


    <main class="bg_gray padded-main">
        <div class="container margin_60_20">
            {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <form method="post">
                        {% csrf_token %}
                        <div class="box_order_form">
                            <div class="head">
                                <div class="title">
                                    <h3>Adres Seçimi</h3>
                                </div>
                            </div>
                            <!-- /head -->
                            <div class="main">
                                {% if addresses.count == 0 %}
                                <div class="text-center">
                                    <p>Henüz <strong class="text-danger">adres</strong> eklememişsiniz.</p>
                                    <p>veya</p>
                                    <p>Restoranımız ile aynı <strong class="text-danger">ilçede</strong> değilsiniz.</p>
                                    <p>Restoranlarımız şuan sadece bulundukları bölgeye hizmet vermektedir.</p>
                                    <p>Restoranımız ile aynı <strong class="text-danger">ilçe</strong> içerisindeyseniz ilgili <strong class="text-danger">adresinizi</strong> ekleyiniz.</p>
                                </div>
                                {% else %}
                                    {% for address in addresses %}
                                    <label class="container_radio">
                                        {{ address.name }}, {{ address.street }}, {{ address.apartment }}, {{ address.door_number }}, {{ address.city }}, {{ address.postal_code }}
                                        <input type="radio" name="address" value="{{ address.id }}" {% if forloop.first %}checked{% endif %}>
                                        <span class="checkmark"></span>
                                    </label>
                                    {% endfor %}
                                {% endif %}                             
                            </div>
                            <div class="text-end me-2">
                                <a href="/profile#section-2">Adres Ekle</a>
                            </div>
                        </div>
                        <!-- /box_order_form -->
                        <div class="box_order_form">
                            <div class="head">
                                <div class="title">
                                    <h3>Ödeme Yöntemi</h3>
                                </div>
                            </div>
                            <!-- /head -->
                            <div class="main">
                                <div class="payment_select">
                                    <label class="container_radio">Nakit Ödeme veya Kredi Kartı (Kapıda Ödeme)
                                        <input type="radio" value="nakit" name="payment_method">
                                        <span class="checkmark"></span>
                                    </label>
                                    <i class="icon_wallet"></i>
                                </div>
                                <div class="payment_select">
                                    <label class="container_radio">Kredi Kartı
                                        <input type="radio" value="kredi_kart" checked name="payment_method">
                                        <span class="checkmark"></span>
                                    </label>
                                    <i class="icon_creditcard"></i>
                                </div>
                                <div class="form-group">
                                    <label>Ad Soyad</label>
                                    <input type="text" class="form-control" id="name_card_order" name="name_card_order" placeholder="Ad ve Soyad">
                                </div>
                                <div class="form-group">
                                    <label>Kart Numarası</label>
                                    <input type="text" id="card_number" name="card_number" class="form-control" placeholder="Kart Numarası">
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Son Kullanım Tarihi</label>
                                        <div class="row">
                                            <div class="col-md-6 col-6">
                                                <div class="form-group">
                                                    <input type="text" id="expire_month" name="expire_month" class="form-control" placeholder="mm">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-6">
                                                <div class="form-group">
                                                    <input type="text" id="expire_year" name="expire_year" class="form-control" placeholder="yyyy">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Güvenlik Kodu</label>
                                            <div class="row">
                                                <div class="col-md-4 col-6">
                                                    <div class="form-group">
                                                        <input type="text" id="ccv" name="ccv" class="form-control" placeholder="CCV">
                                                    </div>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    <img src="{% static 'img/icon_ccv.gif' %}" width="50" height="29" alt="ccv"><small>CCV</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /box_order_form -->
                    </div>
                    <!-- /col -->
                    <div class="col-xl-4 col-lg-4" id="sidebar_fixed">
                        <div class="box_order">
                            <div class="head">
                                <h3>Sipariş Özeti</h3>
                                <div class="mt-2">
                                    {{ current_restaurant.name }}
                                </div>                                
                            </div>
                            <!-- /head -->
                            <div class="main" id="cart-items">
                              <ul class="clearfix">
                                    {% for item in cart_items %}
                                        <li>
                                            <button class="remove-item-btn" data-id="{{ item.id }}">  {{ item.quantity }}x {{ item.menu.name }}</button>
                                            <span>₺{{ item.total_price }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                                
                                <ul class="clearfix">
                                    <li class="total" id="total-price">Toplam<span>₺{{ total_price }}</span></li>
                                </ul>
                                <div class="text-center"><small>Veya Bize Telefon Ulaş <strong>0216 4843254</strong></small></div>
                                <button type="submit" class="btn_1 gradient full-width mb_5">Sipariş Oluştur</button>
                            </div>
                        </div>
                    </form>
                    <!-- /box_booking -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->  
    </main>
    <!-- /main -->
{% endblock %}
