{% extends "base.html" %}
{% load static %}

<!-- {% block extra_css %}


{% endblock extra_css %} -->

{% block content %}
    <!-- Kullanıcı herşeyini görsün. 
    bir tane de tıklama olsun. Onunla da sipariş geçmişini görsün.  -->
    {% if users %}

    <div class="container">
        <h1>Welcome to Your Profile</h1>
        <div>
            <h2>User Information</h2>
            {% for user in users %}
                <p>Name: {{ user.name }}</p>
                <p>Email: {{ user.email }}</p>
            {% endfor %}
        </div>

        <div>
            <h2>Address Information</h2>
            {% for address in customer_adress %}
                <p>Name: {{ address.name }}</p>
                <p>Phone: {{ address.phone }}</p>
                <p>Street: {{ address.street }}</p>
                <p>Apartment: {{ address.apartment }}</p>
                <p>Door Number: {{ address.door_number }}</p>
                <p>City: {{ address.city }}</p>
                <p>Postal Code: {{ address.postal_code }}</p>
            {% endfor %}
        </div>


        <h1>Order History</h1>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>Shipping Address</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for order in order_history %}
                <tr>
                    <td>{{ order.created_at|date:"F d, Y H:i" }}</td>
                    <td>{{ order.total_price }}</td>
                    <td>{{ order.status }}</td>
                    <td>
                        {{ order.shipping_address.street }},
                        {{ order.shipping_address.apartment }},
                        {{ order.shipping_address.door_number }},
                        {{ order.shipping_address.city }},
                        {{ order.shipping_address.postal_code }}
                    </td>
                    <td>
                        {% for orderitem in order.orderitems.all %}
                            {{ orderitem.menu.restaurant }} {{orderitem.menu.name}} ({{ orderitem.quantity }})<br>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>


{% else %}
    <p>No users found.</p>
{% endif %}

        

{% endblock %}